<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h3>{{ .current_directory }}</h3>

<button type="button" class="btn btn-light">
    <i class="bi bi-arrow-return-left">
        <a href="{{ .parent_directory }}" class="link-dark">Back -- {{ .parent_directory }}</a>
    </i>
</button>
<!-- Table -->
<section class="table_p table-responsive">
    <table id="tableData" class="table table-hover compact">
        <thead>
            <tr>
                <th width="4%"><!--Type (Directory or File)--></th>
                <th>Permissions</th>
                <th>Name</th>
                <th>Size</th>
                <th>Last Modified</th>
                <th></th>
                <!-- View file -->
            </tr>
        </thead>
        <tbody class=".table-hover">
            {{ range $file := .file_list }}
            <tr>
                <td>
                    <!-- Icon -->
                    {{ if $file.IsDir }}
                    <i class="bi bi-folder"></i
                    ><!-- Directory icon -->
                    {{ else }}
                    <i class="bi bi-file-text"></i
                    ><!-- File icon -->
                    {{ end }}
                </td>
                <td>{{ $file.Mode }}</td>
                <td>
                    <!-- Name -->
                    <a href="{{$file.Name}}{{ if $file.IsDir }}/{{ end }}">{{$file.Name}}</a>
                </td>
                <td data-order="">
                    <!-- File size -->
                    {{ $file.Size }}
                </td>
                <td data-order="">
                    <!-- File last modified -->
                    {{ $file.ModTime }}
                </td>
                <td>
                    <!-- View file -->
                    {{ if not $file.IsDir }}
                    <a href="{{$file.Name}}{{ if $file.IsDir }}/{{ end }}?view">View in browser</a>
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</section>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
